In [22]:
!pip install webdriver_manager
!pip install splinter
!pip install chromedriver-binary
from webdriver_manager.chrome import ChromeDriverManager
#from selenium import webdriver
#from selenium.webdriver.chrome.service import Service as ChromeService
#from selenium.webdriver.common.by import By
#from selenium.webdriver.chrome.options import Options as ChromeOptions
#from selenium.webdriver.common.keys import Keys
#from selenium.webdriver.support.ui import WebDriverWait
#from selenium.webdriver.support import expected_conditions as EC
from splinter import Browser
from bs4 import BeautifulSoup
import pprint
import pandas as pd
import time

Requirement already satisfied: webdriver_manager in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (4.0.1)
Requirement already satisfied: requests in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (from webdriver_manager) (2.31.0)
Requirement already satisfied: python-dotenv in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (from webdriver_manager) (0.21.0)
Requirement already satisfied: packaging in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (from webdriver_manager) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (from requests->webdriver_manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (from requests->webdriver_manager) (2023.7.22)
Requirement already satisfied: splinter in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (0.19.0)
Requirement already satisfied: urllib3<2.0,>=1.26.14 in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (from splinter) (1.26.16)
Requirement already satisfied: chromedriver-binary in /Users/brettclaus/anaconda3/lib/python3.11/site-packages (120.0.6046.0.0)

In [23]:
browser = Browser('chrome')
url = "https://www.zillow.com/homes/for_sale/"
browser.visit(url)

In [24]:
html = browser.html

In [25]:
soup = BeautifulSoup(html, 'html.parser')

In [26]:
scroll_times = 3 

for _ in range(scroll_times):
    # Scroll down the page
    browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # Wait for some time to let new content load (adjust the sleep time as needed)
    time.sleep(2)

In [27]:
price_elements = soup.find_all("span", {"data-test": "property-card-price"})
property_details_list = soup.find_all("ul",{"class": "StyledPropertyCardHomeDetailsList-c11n-8-84-3__sc-1xvdaej-0 eYPFID"})

In [28]:
house_price =[]
property_info =[]

In [29]:
for price_element in price_elements:
    price = price_element.get_text()
    house_price.append(price)
    #print(price)
house_price

['$775,000',
 '$1,250,000',
 '$629,900',
 '$295,000',
 '$449,950',
 '$599,950',
 '$500,000',
 '$259,999',
 '$499,000']

In [30]:
    
for property_element in property_details_list:
    propery = property_element.get_text()
    property_info.append(propery)
property_info

['3 bds3 ba2,476 sqft',
 '3 bds2 ba2,040 sqft',
 '4 bds1 ba1,740 sqft',
 '1 bd1 ba590 sqft',
 '3 bds1 ba1,344 sqft',
 '5 bds3 ba2,540 sqft',
 '3 bds2 ba1,375 sqft',
 '4 bds2 ba1,568 sqft',
 '3 bds2 ba2,086 sqft']

In [31]:


prices = [price_element.get_text() for price_element in price_elements]
property_info = [property_element.get_text() for property_element in property_details_list]


min_length = min(len(prices), len(property_info))


house_df = pd.DataFrame({"Price": prices[:min_length], "Property_Info": property_info[:min_length]})


house_df

        Price        Property_Info
0    $775,000  3 bds3 ba2,476 sqft
1  $1,250,000  3 bds2 ba2,040 sqft
2    $629,900  4 bds1 ba1,740 sqft
3    $295,000     1 bd1 ba590 sqft
4    $449,950  3 bds1 ba1,344 sqft
5    $599,950  5 bds3 ba2,540 sqft
6    $500,000  3 bds2 ba1,375 sqft
7    $259,999  4 bds2 ba1,568 sqft
8    $499,000  3 bds2 ba2,086 sqft

In [32]:
browser.quit()